@{
    ViewData["Title"] = "AddListing Index";
}
@model AddListingViewModel

<section class="bg-gray py-5">
    <div class="container">
        <form method="post" asp-action="Add" asp-controller="AddListing">
            <!-- Post Your ad start -->
            <fieldset class="border border-gary p-4 mb-5">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Post Your ad</h3>
                    </div>
                    <div class="col-lg-6">
                        <h6 class="font-weight-bold pt-4 pb-1">Title Of Ad:</h6>
                        <input asp-for=Title type="text" class="border w-100 p-2 bg-white text-capitalize" placeholder="Ad title go There">
                        <h6 class="font-weight-bold pt-4 pb-1">Ad Type:</h6>
                        <div class="row px-3">
                            <div class="col-lg-4 mr-lg-4 my-2 rounded bg-white">
                                <input asp-for=AdType type="radio" value="personal">
                                <label asp-for=AdType class="py-2">Personal</label>
                            </div>
                            <div class="col-lg-4 mr-lg-4 my-2 rounded bg-white ">
                                <input asp-for=AdType type="radio" value="business">
                                <label asp-for=AdType class="py-2">Business</label>
                            </div>
                        </div>
                        <h6 class="font-weight-bold pt-4 pb-1">Description:</h6>
                        <textarea asp-for=Description class="border p-3 w-100" rows="7" placeholder="Write details about your product"></textarea>
                    </div>
                    <div class="col-lg-6">
                        <h6 class="font-weight-bold pt-4 pb-1">Select Ad Category:</h6>
                        <select asp-for="CategoryId" class="w-100">
                            <option value="0">Select category</option>
                            @* @foreach (var category in ViewData["Categories"])
                            {
                            <option value="@category.Value">@category.Text</option>
                            } *@

                        </select>
                        <div class="price">
                            <h6 class="font-weight-bold pt-4 pb-1">Item Price ($ USD):</h6>
                            <div class="row px-3">
                                <div class="col-lg-4 mr-lg-4 rounded bg-white my-2 ">
                                    <input asp-for="Price" type="text" name="price" class="border-0 py-2 w-100 price" placeholder="Price"
                                           id="price">
                                </div>
                                <div class="col-lg-4 mrx-4 rounded bg-white my-2 ">
                                    <input asp-for=IsPriceNegotiable type="checkbox" value="true">
                                    <label asp-for="IsPriceNegotiable" class="py-2">Negotiable</label>
                                </div>
                            </div>
                        </div>
                        <div class="choose-file text-center my-4 py-4 rounded">
                            <label asp-for=File for="file-upload">
                                <span class="d-block font-weight-bold text-dark">Drop files anywhere to upload</span>
                                <span class="d-block">or</span>
                                <span class="d-block btn bg-primary text-white my-3 select-files">Select files</span>
                                <span class="d-block">Maximum upload file size: 500 KB</span>
                                <input type="file" class="form-control-file d-none" id="file-upload" name="file">
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <!-- Post Your ad end -->
            <!-- seller-information start -->
            <fieldset class="border p-4 my-5 seller-information bg-gray">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Seller Information</h3>
                    </div>
                    <div class="col-lg-6">
                        <h6 class="font-weight-bold pt-4 pb-1">Contact Name:</h6>
                        <input asp-for="ContactName" type="text" placeholder="Contact name" class="border w-100 p-2">
                        <h6 class="font-weight-bold pt-4 pb-1">Contact Number:</h6>
                        <input asp-for=ContactNumber type="text" placeholder="Contact Number" class="border w-100 p-2">
                    </div>
                    <div class="col-lg-6">
                        <h6 class="font-weight-bold pt-4 pb-1">Contact Email:</h6>
                        <input asp-for="ContactEmail" type="email" placeholder="name@yourmail.com" class="border w-100 p-2">
                        <h6 class="font-weight-bold pt-4 pb-1">Contact Address:</h6>
                        <input asp-for=ContactAddress type="text" placeholder="Your address" class="border w-100 p-2">
                    </div>
                </div>
            </fieldset>
            <!-- seller-information end-->
            <!-- ad-feature start -->
            <fieldset class="border bg-white p-4 my-5 ad-feature bg-gray">
                <div class="row">
                    <div class="col-lg-12">

                        <h3 class="pb-3">
                            Make Your Ad Featured
                            <span class="float-right">
                                <a class="text-right font-weight-normal text-success" href="#">
                                    What
                                    is featured ad ?
                                </a>
                            </span>
                        </h3>

                    </div>
                    <div class="col-lg-6 my-3">
                        <span class="mb-3 d-block">Premium Ad Options:</span>
                        <ul>
                            <li>
                                <label asp-for="AddFeature" for="regular-ad" class="font-weight-bold text-dark py-1">Regular Ad</label>
                                <span>$00.00</span>
                            </li>
                            <li>
                                <label asp-for="AddFeature" for="Featured-Ads" class="font-weight-bold text-dark py-1">Top Featured Ads</label>
                                <span>$59.00</span>
                            </li>
                            <li>
                                <label asp-for="AddFeature" for="urgent-Ads" class="font-weight-bold text-dark py-1">Urgent Ads</label>
                                <span>$79.00</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 my-3">
                        <span class="mb-3 d-block">Please select the preferred payment method:</span>
                        <ul>
                            <li>
                                <label asp-for="AddFeature" class="font-weight-bold text-dark py-1">Direct Bank Transfer</label>
                            </li>
                            <li>
                                <label asp-for="AddFeature" class="font-weight-bold text-dark py-1">Cheque Payment</label>
                            </li>
                            <li>
                                <label asp-for="AddFeature" class="font-weight-bold text-dark py-1">Credit Card</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </fieldset>
            <!-- ad-feature start -->
            <!-- submit button -->
            <div class="checkbox d-inline-flex">
                <input asp-for="AcceptTermsAndConditions" type="checkbox" id="terms-&-condition" class="mt-1">
                <label asp-for="AcceptTermsAndConditions" for="terms-&-condition" class="ml-2">
                    By click you must agree with our
                    <span> <a class="text-success" asp-action="Index" asp-controller="Home">Terms & Condition and Posting Rules.</a></span>
                </label>
            </div>
            <button type="submit" class="btn btn-primary d-block mt-2">Post Your Ad</button>
        </form>
    </div>
</section>
