
@model Ads.Web.Mvc.Areas.Admin.Models.AdvertSearchViewModel

<h1 style="text-align:center;color:red">Search Results</h1>
@foreach (var item in Model.AdvertEntities)
{
    
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <p class="card-text">@item.Description</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    
}
