@model List<CategoryViewModel>

<!--==========================================
=            All Category Section            =
===========================================-->

@await Component.InvokeAsync("AllCategories")

<section class=" section">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section title -->
                <div class="section-title">
                    <h2>All Categories</h2>
                    <p>You can see all categories in this section!</p>
                </div>
                <div class="row">
                    <!-- Category list -->
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                            <div class="category-block">
                                <a href="@Url.Action("Index", "Category", new { id = item.Id, page = 1 })">
                                    <div class="header">
                                        <i class="fa fa-laptop icon-bg-1"></i>
                                        <h4>@item.Name</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                    <!-- /Category List -->

                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>