<!--===============================
=            Hero Area            =
================================-->

<section class="hero-area bg-1 text-center overly">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Header Contetnt -->
                <div class="content-block">
                    <h1>Buy & Sell Near You </h1>
                    <p>Join the millions who buy and sell from each other <br> everyday in local communities around the world</p>

                @await Component.InvokeAsync("PopularCategory")

                </div>
                <!-- Advance Search -->
                @await Component.InvokeAsync("SearchBar")

            </div>
        </div>
    </div>
    <!-- Container End -->
</section>