@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
    <main class="container text-center mt-5">
        <h1 class="display-1 text-center text-danger">Bu sayfaya erişiminiz yok</h1>
        <div class="mt-5">
            <a href="/Home/Index" class="btn btn-primary btn-sm">Anasayfaya Dön</a>
        </div>
    </main>
</body>
</html>