@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
}

<section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="border">
                    <h3 class="bg-gray p-4">Forgot Password</h3>
                    <form asp-action="ForgotPassword" method="post">
                        <fieldset class="p-4">
                            <div class="form-group">
                                <label for="Email">E-mail</label>
                                <input asp-for="Email" class="form-control"  placeholder="Email...."/>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mt-3">Send E-mail</button>
                            <a class="mt-3 d-block text-primary" asp-controller="Auth" asp-action="Login">Back to Login</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
