
@model LoginViewModel
@{
    string? returnUrl = Context.Request.Query.ContainsKey("ReturnUrl")
        ? Context.Request.Query["ReturnUrl"].ToString()
        : null;
}
@{
    ViewData["Title"] = "User Login";
}

<section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="border border">
                    <h3 class="bg-gray p-4">Login Now</h3>
                    <form asp-action="Login" asp-controller="Auth" method="post">
                        <fieldset class="p-4">
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" type="email" placeholder="Email*" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" type="password" placeholder="Password*" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <input asp-for="RememberMe" class="form-check-input" />
                                <label class="form-check-label" for="RememberMe">Remember Me</label>
                            </div>
                            <button type="submit" class="d-block py-3 px-4 bg-primary text-white border-0 rounded font-weight-bold">Login Now</button>
                        </fieldset>
                    </form>
                    <a class="mt-3 d-block   text-primary" asp-action="ForgotPassword" asp-controller="Auth" style="margin-left:15px;">Forget Password?</a>
                    <a class="mt-3 d-block  text-primary" asp-action="Register" asp-controller="Auth" style="margin-left:15px; margin-bottom:5px;">Register Now</a>
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.Error))
                {
                    <div class="alert alert-danger">@ViewBag.Error</div>
                }
            </div>
        </div>
    </div>
</section>
