@* @model Ads.Web.Mvc.Areas.Admin.Models.AdminUserViewModel *@
<!-- Footer -->
<footer class="sticky-footer bg-white">
	<div class="container my-auto">
		<div class="copyright text-center my-auto">
			<span>Copyright &copy; Siliconmade Market 2023</span>
		</div>
	</div>
</footer>
<!-- End of Footer -->