@model Ads.Web.Mvc.Models.AdvertViewModel
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage as string))
{
    <div class="alert alert-success d-flex justify-content-center align-items-center">@ViewBag.SuccessMessage</div>
}


<div class="container mt-5">
    <h2>Edit Advert</h2>
    <form asp-action="EditAdvert" asp-controller="User" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-route-id="@Model.Id" />

        <div class="form-group">
            <label asp-for="Title" class="control-label">Title:</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="control-label">Description:</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price" class="control-label">Price:</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <select asp-for="CategoryId" class="w-100">
                <option value="0">Select category</option>
                @if (ViewData["Categories"] != null)
                {
                    foreach (var category in (SelectList)ViewData["Categories"])
                    {
                        <option value="@category.Value">@category.Text</option>
                    }
                }
            </select>
        </div>
        <div class="container d-flex">
            <div class="form-group">
                <span class="mb-3 d-block">Please select the preferred payment method:</span>
                <ul>
                    <li>
                        <input type="radio" asp-for="PaymentMethod" value="Direct Bank Transfer">
                        <label class="font-weight-bold text-dark py-1">Direct Bank Transfer</label>
                    </li>
                    <li>
                        <input type="radio" asp-for="PaymentMethod" value="Cheque Payment">
                        <label class="font-weight-bold text-dark py-1">Cheque Payment</label>
                    </li>
                    <li>
                        <input type="radio" asp-for="PaymentMethod" value="Credit Card">
                        <label class="font-weight-bold text-dark py-1">Credit Card</label>
                    </li>
                </ul>
            </div>

            <div class="form-group mx-5">
                <span class="mb-3 d-block">Premium Ad Options:</span>
                <ul>
                    <li>
                        <input type="radio" asp-for="AdFeature" value="Regular Ad">
                        <label class="font-weight-bold text-dark py-1">Regular Ad</label>
                        <span>$00.00</span>
                    </li>
                    <li>
                        <input type="radio" asp-for="AdFeature" value="Top Featured Ads">
                        <label class="font-weight-bold text-dark py-1">Top Featured Ads</label>
                        <span>$59.00</span>
                    </li>
                    <li>
                        <input type="radio" asp-for="AdFeature" value="Urgent Ads">
                        <label class="font-weight-bold text-dark py-1">Urgent Ads</label>
                        <span>$79.00</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
