@model SearchViewModel
<h1 style="text-align:center;color:red">Search Results</h1>
@foreach (var item in Model.Titles)
{
    <h2>@item.Title</h2>
}
@* @foreach (var item in Model.Categories)
{
    <h2>@item.Description</h2>
}
 *@